@model IEnumerable<Advertisement>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Card</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ad in Model)
            {
                <tr>
                    <th scope="row">@ad.Id</th>
                    <td>@ad.Price</td>
                    <td>@ad.Quantity</td>
                    <td>@ad.Card</td>
                </tr>
          
            }
            </tbody>
        </table>